@{
    ViewBag.Title = "Email Confirmed";
}
    <h2>Email Confirmed</h2>
    <p>Your email has been successfully confirmed.  Thank you for registering!  You may now enjoy all of the features of the site.</p>
