@model LanLordz.Models.EditImagesModel
@{
    ViewBag.Title = "Edit Event Images";
}
    <h2>@ViewBag.Title</h2>
    @using (Html.BeginForm(Html.BeginForm("EditImages", "Crew", FormMethod.Post, new { enctype = "multipart/form-data" })))
    {
     @Html.AntiForgeryToken()
     <p>Delete Images:</p>
     <div class="EditImagesList">
     @foreach (var image in Model.Images)
     {
       <div class="EditImagesListItem">
        @Html.CheckBox("delete-" + image.EventImageID)
        <div class="EditImagesListItemImage">@Html.EventImage(image, 100)</div>
       </div>
     }
     </div>
     <br style="clear : both" />
     <br />
     <table>
      <tr><td>Add Images:</td><td><input type="file" name="image1" /></td></tr>
      <tr><td></td><td><input type="file" name="image2" /></td></tr>
      <tr><td></td><td><input type="file" name="image3" /></td></tr>
      <tr><td></td><td><input type="file" name="image4" /></td></tr>
      <tr><td></td><td><input type="file" name="image5" /></td></tr>
      <tr><td></td><td><input type="file" name="image6" /></td></tr>
      <tr><td></td><td><input type="file" name="image7" /></td></tr>
      <tr><td></td><td><input type="file" name="image8" /></td></tr>
     </table>
     <br />
     <input type="submit" value="Save" />
    }
