@{
    ViewBag.Title = "Crew Index";
}
    <h2>@ViewBag.Title</h2>
    <ul>
     <li>@Html.ActionLink("Check Users In", "UserCheckIn")</li>
     <li>@Html.ActionLink("Add / Edit Images", "EditImages")</li>
     <li>@Html.ActionLink("Door Prizes", "DoorPrizes")</li>
    </ul>
