<NUnitProject>
  <Settings activeconfig="Debug" />
  <Config name="Debug" appbase="bin\Debug" binpathtype="Auto">
    <assembly path="LanLordzTests.dll" />
  </Config>
  <Config name="Release" appbase="bin\Release" binpathtype="Auto">
    <assembly path="LanLordzTests.dll" />
  </Config>
</NUnitProject>