@model LanLordz.Models.ErrorInfoModel
@{
    ViewBag.Title = "Error";
}
    <h2>Error</h2>
@if (Model == null || string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p>There was an error processing your request.</p>
}
@if (Model != null && !string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p>@Model.ErrorMessage</p>
}
@if (Model != null && Model.Exception != null)
{
    <p>@Model.Exception.ToString()</p>
}
