<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=6d5bbc42e3435caf" />
        <section name="spark" type="Spark.Configuration.SparkSectionHandler, Spark"/>
    </configSections>

    <connectionStrings>
        <add name="lanlordz_webConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=lanlordz_web;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <cachingConfiguration defaultCacheManager="DataCache">
        <cacheManagers>
            <add name="PluginFactories"
              backingStoreName="Null Storage" expirationPollFrequencyInSeconds="60"
              maximumElementsInCacheBeforeScavenging="10" numberToRemoveWhenScavenging="2"
              type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=6d5bbc42e3435caf"/>
            <add name="SiteSkins"
              backingStoreName="Null Storage" expirationPollFrequencyInSeconds="10"
              maximumElementsInCacheBeforeScavenging="100" numberToRemoveWhenScavenging="20"
              type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=6d5bbc42e3435caf"/>
            <add name="DataCache"
              backingStoreName="Null Storage" expirationPollFrequencyInSeconds="30"
              maximumElementsInCacheBeforeScavenging="50000" numberToRemoveWhenScavenging="1000"
              type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=6d5bbc42e3435caf"/>
        </cacheManagers>
        <backingStores>
            <add name="Null Storage"
              type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=4.1.0.0, Culture=neutral, PublicKeyToken=6d5bbc42e3435caf"
              encryptionProviderName="" />
        </backingStores>
    </cachingConfiguration>

    <spark>
        <compilation debug="true">
            <assemblies>
            </assemblies>
        </compilation>

        <pages automaticEncoding="true" pageBaseType="LanLordz.Views.BasePage" statementMarker="# ">
            <namespaces>
                <add namespace="System"/>
                <add namespace="System.Collections.Generic"/>
                <add namespace="System.Linq"/>
                <add namespace="System.Web.Mvc"/>
                <add namespace="System.Web.Mvc.Html"/>
            </namespaces>
        </pages>
    </spark>

    <system.web>
        <sessionState mode="InProc" cookieless="UseCookies"/>

        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>

        <authentication mode="None" />

        <httpRuntime requestValidationMode="2.0" />

        <pages theme="" validateRequest="false" enableViewStateMac="false">
            <namespaces>
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.WebPages" />
            </namespaces>
        </pages>

        <customErrors mode="Off" />
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
          <dependentAssembly>
            <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31BF3856AD364E35" />
            <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
          </dependentAssembly>
        </assemblyBinding>
    </runtime>

  <appSettings>
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
  </appSettings>
</configuration>
